---
interface Props {
    ancho : any;
    alto: any;
    color: string;
    texto: string;
    link: string;
    radio ?: string;
}

const {ancho,alto,color,texto,link,radio} = Astro.props;
---

<button>

</button>