$color-fondo : #202020;
$color-header: rgba(52, 49, 49, 0.42);
$color-btn-registrarse: #F2E7E7;
$blanco-letras: #EAE0E0;

html {
    color: $blanco-letras !important;;
    height: 100%;
    width: 100%;
    background-color: $color-fondo !important;;
}

/*------------HEADER---------------*/
header {
    width: 100%;
    height: 8vh;
    background-color: $color-header !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*------------HEADER---------------*/