---
import FunctionCard from "../FunctionCard.astro"
---
<section id="nuestrasFunciones">
    <h1>Nuestras Funciones</h1>
    <div>
        <FunctionCard />
        <FunctionCard />
        <FunctionCard />
        <FunctionCard />
    </div>
</section>


<style lang="scss">

#nuestrasFunciones {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}
#nuestrasFunciones h1 {
    font-size: 35px;
    text-align: center;
    color: white;
    letter-spacing: -1.5px;
    line-height: 40px;
}
#nuestrasFunciones div {
    height: auto;
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}


    
</style>
