---
import FunctionCard from "../FunctionCard.astro"
---
<section id="nuestrasFunciones">
    <h1>Nuestras Funciones</h1>
    <div>
       
            <FunctionCard 
                height={370}, 
                width={420},
                backgroundRGBA="rgba( 213, 213, 213, 0.1 )",
                boxShadow1={2},
                boxShadow2={2},
                boxShadow3={20},
                boxShadow4={0.1},
                borderRadius={10},
                borderPix={1},
                backdropFilter={20},
                borderState="solid",
                borderRGBA="rgba( 255, 255, 255, 0.18 )",
                icono={"assets/icons/calendar.svg"},
                altIcono="Calendario icono",
                titulo="Hola que tal estas",
                descripcion={`askdooaksda askdoa pdskak apdkaksd asdk pakpaspk saspa kodpak dsa
                ad oasksoadop aosdpkaos dkasdka kpsdpa kdapk doapsdakop dkoapsk dakspas a d a`},
                imagen="assets/images/stats1.jpeg",
                altImagen="imagen de Card" 
            />
        
        
        
        <FunctionCard 
            height={370}, 
            width={420},
            backgroundRGBA="rgba( 213, 213, 213, 0.1 )",
            boxShadow1={2},
            boxShadow2={2},
            boxShadow3={20},
            boxShadow4={0.1},
            borderRadius={10},
            borderPix={1},
            backdropFilter={20},
            borderState="solid",
            borderRGBA="rgba( 255, 255, 255, 0.18 )",
            icono={"assets/icons/calendar.svg"},
            altIcono="Calendario icono",
            titulo="Hola que tal estas",
            descripcion={`askdooaksda askdoa pdskak apdkaksd asdk pakpaspk saspa kodpak dsa
            ad oasksoadop aosdpkaos dkasdka kpsdpa kdapk doapsdakop dkoapsk dakspas a d a`},
            imagen="assets/images/stats1.jpeg",
            altImagen="imagen de Card" 
        />
        <FunctionCard 
            height={370}, 
            width={420},
            backgroundRGBA="rgba( 213, 213, 213, 0.1 )",
            boxShadow1={2},
            boxShadow2={2},
            boxShadow3={20},
            boxShadow4={0.1},
            borderRadius={10},
            borderPix={1},
            backdropFilter={20},
            borderState="solid",
            borderRGBA="rgba( 255, 255, 255, 0.18 )",
            icono={"assets/icons/calendar.svg"},
            altIcono="Calendario icono",
            titulo="Hola que tal estas",
            descripcion={`askdooaksda askdoa pdskak apdkaksd asdk pakpaspk saspa kodpak dsa
            ad oasksoadop aosdpkaos dkasdka kpsdpa kdapk doapsdakop dkoapsk dakspas a d a`},
            imagen="assets/images/stats1.jpeg",
            altImagen="imagen de Card" 
        />
        <FunctionCard 
            height={370}, 
            width={420},
            backgroundRGBA="rgba( 213, 213, 213, 0.1 )",
            boxShadow1={2},
            boxShadow2={2},
            boxShadow3={20},
            boxShadow4={0.1},
            borderRadius={10},
            borderPix={1},
            backdropFilter={20},
            borderState="solid",
            borderRGBA="rgba( 255, 255, 255, 0.18 )",
            icono={"assets/icons/calendar.svg"},
            altIcono="Calendario icono",
            titulo="Hola que tal estas",
            descripcion={`askdooaksda askdoa pdskak apdkaksd asdk pakpaspk saspa kodpak dsa
            ad oasksoadop aosdpkaos dkasdka kpsdpa kdapk doapsdakop dkoapsk dakspas a d a`},
            imagen="assets/images/stats1.jpeg",
            altImagen="imagen de Card" 
        />
         

    </div>
</section>


<style lang="scss">



#nuestrasFunciones {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#nuestrasFunciones h1 {
    font-size: 35px;
    text-align: center;
    color: white;
    letter-spacing: -1.5px;
    line-height: 40px;
}

#nuestrasFunciones div {
    height: auto;
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; /* Cambiado a fila para alinear los elementos horizontalmente */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente línea */
}


    
</style>
