---
import FunctionCard from "../FunctionCard.astro"
---
<section id="nuestrasFunciones">
    <h1>Nuestras Funciones</h1>
    <div>      
        <FunctionCard 
            height={370}, 
            width={420},
            backgroundRGBA="rgba( 213, 213, 213, 0.1 )",
            boxShadow1={2},
            boxShadow2={2},
            boxShadow3={20},
            boxShadow4={0.1},
            borderRadius={10},
            borderPix={1},
            backdropFilter={20},
            borderState="solid",
            borderRGBA="rgba( 255, 255, 255, 0.18 )",
            icono={"assets/icons/diagram.svg"},
            altIcono="Diagrama Icono",
            titulo="Haz un trackeo de tus logros",
            descripcion={`Con nuestra aplicación podrás realizar un seguimiento detallado de tus logros personales y profesionales. Registra tus metas, hitos y progresos de manera efectiva. `},
            imagen="assets/images/stats1.jpeg",
            altImagen="Card de estadisticas" 
        />
        
        

        <FunctionCard 
            height={370}, 
            width={420},
            backgroundRGBA="rgba( 213, 213, 213, 0.1 )",
            boxShadow1={2},
            boxShadow2={2},
            boxShadow3={20},
            boxShadow4={0.1},
            borderRadius={10},
            borderPix={1},
            backdropFilter={20},
            borderState="solid",
            borderRGBA="rgba( 255, 255, 255, 0.18 )",
            icono={"assets/icons/dumbel.svg"},
            altIcono="Pesas icono",
            titulo="Mantente activo",
            descripcion={`Además de poder registrar tus logros, también podrás consultar ejercicios orientativos, con el fin
            de informarte y orientarte.`},
            imagen="assets/icons/ejercicio2.jpg",
            altImagen="Stretch" 
        />
        <FunctionCard 
            height={370}, 
            width={420},
            backgroundRGBA="rgba( 213, 213, 213, 0.1 )",
            boxShadow1={2},
            boxShadow2={2},
            boxShadow3={20},
            boxShadow4={0.1},
            borderRadius={10},
            borderPix={1},
            backdropFilter={20},
            borderState="solid",
            borderRGBA="rgba( 255, 255, 255, 0.18 )",
            icono={"assets/icons/stretch.svg"},
            altIcono="Stretch icono",
            titulo="Estira, que siempre viene bien",
            descripcion={`Además, también incluimos una tabla de estiramientos, con el fin de evitar lesiones y orientar al usuario. Los estiramientos tendrán tutoriales guiados paso a paso`},
            imagen="assets/icons/ejercicio3.jpg",
            altImagen="Estiramiento" 
        />
        <FunctionCard 
            height={370}, 
            width={420},
            backgroundRGBA="rgba( 213, 213, 213, 0.1 )",
            boxShadow1={2},
            boxShadow2={2},
            boxShadow3={20},
            boxShadow4={0.1},
            borderRadius={10},
            borderPix={1},
            backdropFilter={20},
            borderState="solid",
            borderRGBA="rgba( 255, 255, 255, 0.18 )",
            icono={"assets/icons/heart.svg"},
            altIcono="Corazon icono",
            titulo="Mejora tu salud",
            descripcion={`Nuestra aplicación, tiene como uno de sus objetivos principales el motivar a los
            usuarios para que realicen ejercicio y mejorar su salud.`},
            imagen="assets/icons/ejercicio.jpg",
            altImagen="imagen de Card" 
        />
         

    </div>
</section>


<style lang="scss">

//Variables
$marginTop-nuestrasFunc: 90px; //Variables que se usaran en esta seccion
$maxWidth-nuestrasFunc: 90%;

//Mixins
@mixin centraElementos { //Mixin que permite centrar el contenido de un elemento
  display: flex;
  justify-content: center;
  align-items: center;
}

#nuestrasFunciones {
  margin-top: $marginTop-nuestrasFunc;
  @include centraElementos; //Inclusion del Mixin
  flex-direction: column;
  height: auto;
  max-width: $maxWidth-nuestrasFunc;
  margin-left: auto;
  margin-right: auto;
}

#nuestrasFunciones h1 {
  font-size: 35px;
  text-align: center;
  color: white;
  letter-spacing: -1.5px;
  line-height: 40px;
}

#nuestrasFunciones div {
  height: auto;
  width: 100%;
  margin-top: 30px;
  @include centraElementos;
  flex-direction: row;
  flex-wrap: wrap; 
}

@media screen and (min-width: 1200px) and (max-width: 1600px){
  div {
    max-width: 90%;
  }
}
@media screen and (min-width: 1600px) {
  div {
    max-width: 70%;
  }
}

    
</style>
