---
import DeberCard from '../DeberCard.astro';
---
<section>
    <h1>Por qué deberías usar MyAgenda</h1>
    <ul>
        <li>
            <DeberCard 
            height={110}, 
            width={110},
            backgroundRGBA="rgba( 213, 213, 213, 0.1 )",
            boxShadow1={2},
            boxShadow2={2},
            boxShadow3={20},
            boxShadow4={0.1},
            borderRadius={10},
            borderPix={1},
            backdropFilter={20},
            borderState="solid",
            borderRGBA="rgba( 255, 255, 255, 0.18 )",
            descripcion={`askdooaksda askdoa pdskak apdkaksd asdk pakpaspk saspa kodpak dsa`},
            imagen="assets/icons/calendar.svg",
            altImagen="imagen de Card" 
        />
        </li>
        <li>
            <DeberCard 
            height={110}, 
            width={110},
            backgroundRGBA="rgba( 213, 213, 213, 0.1 )",
            boxShadow1={2},
            boxShadow2={2},
            boxShadow3={20},
            boxShadow4={0.1},
            borderRadius={10},
            borderPix={1},
            backdropFilter={20},
            borderState="solid",
            borderRGBA="rgba( 255, 255, 255, 0.18 )",
            descripcion={`askdooaksda askdoa pdskak apdkaksd asdk pakpaspk saspa kodpak dsa`},
            imagen="assets/icons/calendar.svg",
            altImagen="imagen de Card" 
        />
        </li>
        <li>
            <DeberCard 
            height={110}, 
            width={110},
            backgroundRGBA="rgba( 213, 213, 213, 0.1 )",
            boxShadow1={2},
            boxShadow2={2},
            boxShadow3={20},
            boxShadow4={0.1},
            borderRadius={10},
            borderPix={1},
            backdropFilter={20},
            borderState="solid",
            borderRGBA="rgba( 255, 255, 255, 0.18 )",
            descripcion={`askdooaksda askdoa pdskak apdkaksd asdk pakpaspk saspa kodpak dsa`},
            imagen="assets/icons/calendar.svg",
            altImagen="imagen de Card" 
        />
        </li>
        <li>
            <DeberCard 
            height={110}, 
            width={110},
            backgroundRGBA="rgba( 213, 213, 213, 0.1 )",
            boxShadow1={2},
            boxShadow2={2},
            boxShadow3={20},
            boxShadow4={0.1},
            borderRadius={10},
            borderPix={1},
            backdropFilter={20},
            borderState="solid",
            borderRGBA="rgba( 255, 255, 255, 0.18 )",
            descripcion={`askdooaksda askdoa pdskak apdkaksd asdk pakpaspk saspa kodpak dsa`},
            imagen="assets/icons/calendar.svg",
            altImagen="imagen de Card" 
        />
        </li>
        <li>
            <DeberCard 
            height={110}, 
            width={110},
            backgroundRGBA="rgba( 213, 213, 213, 0.1 )",
            boxShadow1={2},
            boxShadow2={2},
            boxShadow3={20},
            boxShadow4={0.1},
            borderRadius={10},
            borderPix={1},
            backdropFilter={20},
            borderState="solid",
            borderRGBA="rgba( 255, 255, 255, 0.18 )",
            descripcion={`askdooaksda askdoa pdskak apdkaksd asdk pakpaspk saspa kodpak dsa`},
            imagen="assets/icons/calendar.svg",
            altImagen="imagen de Card" 
        />
        </li>
        <li>
            <DeberCard 
            height={110}, 
            width={110},
            backgroundRGBA="rgba( 213, 213, 213, 0.1 )",
            boxShadow1={2},
            boxShadow2={2},
            boxShadow3={20},
            boxShadow4={0.1},
            borderRadius={10},
            borderPix={1},
            backdropFilter={20},
            borderState="solid",
            borderRGBA="rgba( 255, 255, 255, 0.18 )",
            descripcion={`askdooaksda askdoa pdskak apdkaksd asdk pakpaspk saspa kodpak dsa`},
            imagen="assets/icons/calendar.svg",
            altImagen="imagen de Card" 
        />
        </li>
        
        
        
        
        
        
    </ul>
</section>

<style lang="scss">

section {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

section h1 {
    font-size: 35px;
    text-align: center;
    color: white;
    letter-spacing: -1.5px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    margin: 50px;
    width: 100%;
    height: auto;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; /* Cambiando a fila para que los elementos se alineen horizontalmente */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente línea */
}

.divSeccion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
}

li {

    padding: 20px;
    margin: 10px; /* Añade un margen entre los elementos */
}

.divSeccion p {
    width: 300px;
    max-width: 300px;
    margin-top: 25px;
    height: auto;
    font-size: 18px;
    text-align: center;
}

</style>
