---
import DeberCard from '../DeberCard.astro';
---
<section>
    <h1>Por qué deberías usar MyAgenda</h1>
    <ul>
        <li>
            <DeberCard 
            height={110}, 
            width={110},
            backgroundRGBA="rgba( 213, 213, 213, 0.1 )",
            boxShadow1={2},
            boxShadow2={2},
            boxShadow3={20},
            boxShadow4={0.1},
            borderRadius={10},
            borderPix={1},
            backdropFilter={20},
            borderState="solid",
            borderRGBA="rgba( 255, 255, 255, 0.18 )",
            descripcion={`askdooaksda askdoa pdskak apdkaksd asdk pakpaspk saspa kodpak dsa`},
            imagen="assets/icons/calendar.svg",
            altImagen="imagen de Card" 
        />
        </li>
        <li>
            <DeberCard 
            height={110}, 
            width={110},
            backgroundRGBA="rgba( 213, 213, 213, 0.1 )",
            boxShadow1={2},
            boxShadow2={2},
            boxShadow3={20},
            boxShadow4={0.1},
            borderRadius={10},
            borderPix={1},
            backdropFilter={20},
            borderState="solid",
            borderRGBA="rgba( 255, 255, 255, 0.18 )",
            descripcion={`askdooaksda askdoa pdskak apdkaksd asdk pakpaspk saspa kodpak dsa`},
            imagen="assets/icons/calendar.svg",
            altImagen="imagen de Card" 
        />
        </li>
        <li>
            <DeberCard 
            height={110}, 
            width={110},
            backgroundRGBA="rgba( 213, 213, 213, 0.1 )",
            boxShadow1={2},
            boxShadow2={2},
            boxShadow3={20},
            boxShadow4={0.1},
            borderRadius={10},
            borderPix={1},
            backdropFilter={20},
            borderState="solid",
            borderRGBA="rgba( 255, 255, 255, 0.18 )",
            descripcion={`askdooaksda askdoa pdskak apdkaksd asdk pakpaspk saspa kodpak dsa`},
            imagen="assets/icons/calendar.svg",
            altImagen="imagen de Card" 
        />
        </li>
        <li>
            <DeberCard 
            height={110}, 
            width={110},
            backgroundRGBA="rgba( 213, 213, 213, 0.1 )",
            boxShadow1={2},
            boxShadow2={2},
            boxShadow3={20},
            boxShadow4={0.1},
            borderRadius={10},
            borderPix={1},
            backdropFilter={20},
            borderState="solid",
            borderRGBA="rgba( 255, 255, 255, 0.18 )",
            descripcion={`askdooaksda askdoa pdskak apdkaksd asdk pakpaspk saspa kodpak dsa`},
            imagen="assets/icons/calendar.svg",
            altImagen="imagen de Card" 
        />
        </li>
        <li>
            <DeberCard 
            height={110}, 
            width={110},
            backgroundRGBA="rgba( 213, 213, 213, 0.1 )",
            boxShadow1={2},
            boxShadow2={2},
            boxShadow3={20},
            boxShadow4={0.1},
            borderRadius={10},
            borderPix={1},
            backdropFilter={20},
            borderState="solid",
            borderRGBA="rgba( 255, 255, 255, 0.18 )",
            descripcion={`askdooaksda askdoa pdskak apdkaksd asdk pakpaspk saspa kodpak dsa`},
            imagen="assets/icons/calendar.svg",
            altImagen="imagen de Card" 
        />
        </li>
        <li>
            <DeberCard 
            height={110}, 
            width={110},
            backgroundRGBA="rgba( 213, 213, 213, 0.1 )",
            boxShadow1={2},
            boxShadow2={2},
            boxShadow3={20},
            boxShadow4={0.1},
            borderRadius={10},
            borderPix={1},
            backdropFilter={20},
            borderState="solid",
            borderRGBA="rgba( 255, 255, 255, 0.18 )",
            descripcion={`askdooaksda askdoa pdskak apdkaksd asdk pakpaspk saspa kodpak dsa`},
            imagen="assets/icons/calendar.svg",
            altImagen="imagen de Card" 
        />
        </li>
        
        
        
        
        
        
    </ul>
</section>

<style lang="scss">

// Variables
$section-margin-top: 90px;
$section-max-width: 90%;
$section-margin-left-right: calculate-margin(90%);

// Funciones
@function calculaMargen($valorMargen) {
  @return $valorMargen / 2;
}

// Mixin 
@mixin centraElementos {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Estilos para section
section {
  margin-top: $section-margin-top;
  height: 100%;
  max-width: $section-max-width;
  margin: 0 auto;
  @include centraElementos;
  flex-direction: column;
  
  //Anidamiento del h1 para darle estilos especificos
  h1 {
    font-size: 35px;
    text-align: center;
    color: white;
    letter-spacing: -1.5px;
    line-height: 40px;
    margin-top: 90px;
    @include centraElementos;
  }
}


ul {
  margin: 50px;
  width: 100%;
  height: auto;
  list-style: none;
  @include centraElementos;
  flex-direction: row;
  flex-wrap: wrap; // Permite que los elementos se envuelvan a la siguiente línea

  //Anidamiento de los li de la ul
  li {
    padding: 20px;
    margin: 10px; // Añade un margen entre los elementos
  }
}

.divSeccion {
  @include centraElementos;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
  margin: 0 calculate-margin(30px); // Calcula el margen izquierdo y derecho
  
}

.divSeccion p {
  width: 300px;
  max-width: 300px;
  margin-top: 25px;
  height: auto;
  font-size: 18px;
  text-align: center;
}
@media screen and (min-width: 1200px){
  ul {
    max-width: 85%;
  }
}
</style>
