<section>
    <h1>Por qué MyAgenda</h1>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</section>

<style lang="scss">

section {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}
section h1 {
    font-size: 35px;
    text-align: center;
    color: white;
    letter-spacing: -1.5px;
    line-height: 40px;
}
ul {
    margin: 50px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto; /* Dos columnas de ancho automático */
    justify-content: center; /* Centra el grid horizontalmente */
    gap: 120px; /* Márgenes equitativos entre elementos */
    list-style: none;
    align-items: center;
}
li {
    
    height: 120px;
        width: 120px;
        background-color: gray;
        background: rgba( 213, 213, 213, 0.1 );
        box-shadow:2px 2px 20px 0.1px rgb(154, 154, 154);   
        backdrop-filter: blur( 10.5px );
        -webkit-backdrop-filter: blur( 10.5px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        border-radius: 100%;
}
</style>
