<section id="seccionNuestrasFunciones">
    <h1>Nuestras funciones</h1>
    <div id="datos">
        <div id="datosTexto">
            <p>MyAgenda es una aplicación diseñada y desarrollada para que todos 
                los usuarios de gimnasio, puedan hacer un seguimiento detallado y 
                continuado de los ejercicios que realizan día a día en el gimnasio.
            </p>
            <br>
            <p>MyAgenda es una aplicación diseñada y desarrollada para que todos 
                los usuarios de gimnasio, puedan hacer un seguimiento detallado y 
                continuado de los ejercicios que realizan día a día en el gimnasio.
            </p>
        </div>
        <div id="datosImagen">
            <img id="cBumSin" src="assets/images/cbumsin.png" alt="Cbum sin fondo">
        </div>
        <div>
            
        </div>
    </div>
</section>