<section id="que_es_my_agenda">
    <h1>¿Qué es MyAgenda?</h1>
    <div id="datos">
        <div id="datosTexto">
            <p>MyAgenda es una aplicación diseñada y desarrollada para que todos 
                los usuarios de gimnasio, puedan hacer un seguimiento detallado y 
                continuado de los ejercicios que realizan día a día en el gimnasio.
            </p>
            <br>
            <p>Además, ofrece funcionalidades avanzadas para planificar rutinas de entrenamiento personalizadas, 
                registrar progresos y recibir recomendaciones basadas en el desempeño individual.</p>
        </div>
        <div id="datosImagen">
            <img id="cBumSin" src="assets/images/cbumsin.png" alt="Cbum sin fondo">
        </div>
        <div>
            
        </div>
    </div>
</section>