---
import BotonSocial from "../botonSocial.astro"
---
<section>
    <h1>¡Síguenos en nuestras redes sociales!</h1>
    <div>
        <BotonSocial 
            width={150}, 
            height={50}, 
            borderRadius={10} 
            background="rgba( 82, 125, 255, 0.25 )",
            boxShadow1={0},
            boxShadow2={8},
            boxShadow3={32},
            boxShadow4={0}
            boxShadowRGBA="rgba( 31, 38, 135, 0.37 )",
            backdropFilter={20},
            border="1",  
            titulo="LinkedIn",
            rutaImagen="assets/icons/linkedin.svg",
            altImagen="LinkedIn Boton",
            rutaDestino="linkedIn.com"
             />
        <a href="/">
            <img src="" alt="">
            <p>GitHub</p>
        </a>
        <a href="/">
            <img src="" alt="">
            <p>Twitter</p>
        </a>
    </div>
</section>

<style lang="scss">
    section {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

section h1 {
    font-size: 35px;
    text-align: center;
    color: white;
    letter-spacing: -1.5px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section div {
    margin-top: 30px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

}
section div a {
    margin-left: 20px;
    margin-right: 20px;
    height: 40px;
    width: 100px;
    max-width: 100px;
    border-radius: 2px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}


</style>