<section id="seccionTitulo">
    <img id=fotoInicial src="assets/images/foto2.png" alt="Foto Inicial de Página" />
    <h1>MyAgenda</h1>
    <h2>Crea tu cuerpo soñado</h2>
</section>

<style lang="scss">

// Variables
$titulo-font-size: 60px;
$subtitulo-font-size: 30px;
$subtitulo-margin-top: 0px;
$tamano-foto: 1000px;

// Mixin para centrar verticalmente
@mixin centrarImagen {
  position: absolute;
  top: 30%;
  transform: translateY(-30%);
  width: 100%;
  text-align: center;
}

#seccionTitulo {
  height: 52vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  h1 {
    font-size: $titulo-font-size;
    color: white;
    letter-spacing: -3px;
    @include centrarImagen;
    margin: 0;
  }

  h2 {
    font-size: $subtitulo-font-size;
    color: white;
    letter-spacing: -1px;
    margin-top: $subtitulo-margin-top;
    @include centrarImagen;
    top: 45%;

  }
}


#fotoInicial {
  width: $tamano-foto;
  margin-bottom: 100px;
  object-fit: cover;
}
</style>