<script>

   window.addEventListener('scroll', function() {
        let divMac = document.getElementById('divMac');
        let divPosition = divMac.getBoundingClientRect().top; // obtiene la posición vertical de divMac con respecto al borde superior del viewport 
        let viewportHeight = window.innerHeight;

        if (divPosition < viewportHeight / 2) { //comprueba si divMac está ubicado por encima de la mitad de la altura de la ventana visible en el navegador para controlar si se hace visible o no
            divMac.classList.add('active');
        } else {
            divMac.classList.remove('active');
        }
    });

    window.addEventListener('scroll', function() {
        let divIpad = document.getElementById('divIpad');
        let divPosition = divIpad.getBoundingClientRect().top;
        let viewportHeight = window.innerHeight;

        if (divPosition < viewportHeight / 2) {
            divIpad.classList.add('active');
        } else {
            divIpad.classList.remove('active');
        }
    });

    window.addEventListener('scroll', function() {
        let divIphone = document.getElementById('divIphone');
        let divPosition = divIphone.getBoundingClientRect().top;
        let viewportHeight = window.innerHeight;

        if (divPosition < viewportHeight / 2) {
            divIphone.classList.add('active');
        } else {
            divIphone.classList.remove('active');
        }
    });




</script>

<section>

    <h1>MyAgenda, tu aplicación favorita</h1>
    <div id="divMac">
        <img src="assets/mockups/macbook_small.png" alt="Macbook">
    </div>
    <div id="divIpad">
        <img src="assets/mockups/ipad_small.png" alt="Ipad">
    </div>
    <div id="divIphone">
        <img src="assets/mockups/iphones_small.png" alt="Iphone">
    </div>

</section>

<style lang="scss">

// Variables
$section-margin-top: 90px;
$section-max-width: 90%;
$transition-duration: 0.8s;

@mixin centrarImagen {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  margin-top: $section-margin-top;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  max-width: $section-max-width;
  margin: 0 auto;

  h1 {
    font-size: 35px;
    text-align: center;
    color: white;
    letter-spacing: -1.5px;
    line-height: 40px;
    @include centrarImagen;
  }

  div {
    height: auto;
    width: 100%;
    margin-top: 30px;
    //Img dentro del div
    img {
      object-fit: cover;
      max-width: 100%;
      width: 100%;
      height: 100%;
    }
  }
}

#divMac, #divIpad, #divIphone {
  height: auto;
  width: 80%;
  opacity: 0;
  transition: transform $transition-duration ease;
}

#divMac {
  transform: translateX(-100%);
}
#divIpad {
  transform: translateX(100%);
}
#divIphone {
  transform: translateY(25%);
}

// Estilos para los elementos activos
#divMac.active, #divIpad.active, #divIphone.active {
  opacity: 1;
  transform: translateX(0);
}

@media screen and (min-width: 768px) and (max-width:1200px) {
  section {
    max-width: 75%;
  }
}

@media screen and (min-width: 1200px) {
  section {
    max-width: 50%;
  }
}

</style>